.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: aliceblue;
}

.black {
    background-color: #282c34;
}